body {
  background-color: #2a6f97;
  // background-image: linear-gradient(45deg, #EE617D 8.33%, #ffffff 8.33%, #ffffff 16.67%, #ffffff 16.67%, #ffffff 25%, #3d6f8e 25%, #3d6f8e 33.33%, #fff 33.33%, #fff 41.67%, #fff 41.67%, #fff 50%, #EE617D 50%, #EE617D 58.33%, #ffffff 58.33%, #ffffff 66.67%, #ffffff 66.67%, #ffffff 75%, #3d6f8e 75%, #3d6f8e 83.33%, #fff 83.33%, #fff 91.67%, #fff 91.67%, #fff 100%);
  // background-size: 169.71px 169.71px;
  margin: auto;
  text-align: center;
}

h1 {
  font-family: helvetica;
  font-size: 40px;
  color: black;
}

div {
  // background-color: white;
  // border: 2px solid black;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
}

// #map {
// background-color: none;
// width: '100%';
// height: '100vh';
// }

a {
  text-decoration: underline;
}

.text-entry-container {
  min-height: 400px;
}

textarea {
  resize: none;
  outline: none;
  width: 100%;
  padding: 10px;
  border: none;
  height: 100%;
  margin: -10px;
  min-height: 400px
}

button:hover {
  color: blue;
}

a:hover {
  color: blue;
}

